# Exploratory data analysis

Understanding the variables in the dataset

Cleaning and Identifying the Patterns in the dataset

Analyzing relationships between variables in our dataset

What that data is about? 

What all features are there? ?

Checking missing values

Checking duplicate valueS

## Importing libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data manipulation and analysis
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # data visualization
sns.set_style('whitegrid') # set style for visualization
import warnings # ignore warnings
warnings.filterwarnings('ignore')

## Reading dataset

In [2]:
df = pd.read_csv('5-Data After pre-processing (CSV Format)1.csv', encoding='ISO-8859-1')

## Eyeballing data

In [3]:
df.head()

,Date,Screen Name,Full Name,Tweet Text,Tweet ID,App,Followers,Follows,Retweets,Favorites,Verfied,User Since,Location,Bio,Profile Image,Airport Twitter Tag,Airport IATA Codes,Airport Names
0,11/7/2016 7:42:55,@mzousmer,Max Zousmer,@SanDiegoAirport no tsa pre check for United?,7.954489e+17,Twitter for Android,23.0,116.0,0.0,0.0,No,3/13/2013,NaN,NaN,View,@sandiegoairport,SAN,San Diego Airport
1,11/7/2016 8:13:37,@cak_ed2004,Edy Febriansyah,Just call my name dear @contactap2 and i'll be...,7.954566e+17,Twitter for Android,171.0,267.0,0.0,0.0,No,7/31/2016,"Cengkareng, Indonesia",loyal servant of my family,View,@contactap2,HLP,Halim Perdanakusuma International Airport
2,11/7/2016 9:32:51,@nafeesatanty,apis,"@contactap2 mau nanya, utk tarif inap mobil di...",7.954766e+17,Echofon,602.0,371.0,0.0,0.0,No,3/21/2010,di hutan lalu belok ke pantai,N!,View,@contactap2,HLP,Halim Perdanakusuma International Airport
3,11/7/2016 9:55:15,@nafeesatanty,apis,@contactap2 oke makasih infonya ????,7.954822e+17,Echofon,602.0,371.0,0.0,0.0,No,3/21/2010,di hutan lalu belok ke pantai,N!,View,@contactap2,HLP,Halim Perdanakusuma International Airport
4,11/7/2016 10:34:22,@kissanystava2,Anna Valtonen,@iflymia crasbs,7.954921e+17,Twitter for Android,469.0,5004.0,0.0,0.0,No,6/16/2015,NaN,NaN,View,@iflymia,MIA,Miami International Airport

## Checking datatypes

In [4]:
df.dtypes

Date                    object
Screen Name             object
Full Name               object
Tweet Text              object
Tweet ID               float64
App                     object
Followers              float64
Follows                float64
Retweets               float64
Favorites              float64
Verfied                 object
User Since              object
Location                object
Bio                     object
Profile Image           object
Airport Twitter Tag     object
Airport IATA Codes      object
Airport Names           object
dtype: object

## Checking dimension

In [5]:
df.shape

(868352, 18)

## Checking features

In [6]:
df.columns

Index(['Date', 'Screen Name', 'Full Name', 'Tweet Text', 'Tweet ID', 'App',
       'Followers', 'Follows', 'Retweets', 'Favorites', 'Verfied',
       'User Since', 'Location', 'Bio', 'Profile Image', 'Airport Twitter Tag',
       'Airport IATA Codes', 'Airport Names'],
      dtype='object')

In [7]:
df.count()

Date                   868352
Screen Name            868352
Full Name              868290
Tweet Text             868352
Tweet ID               868352
App                    868330
Followers              868352
Follows                868352
Retweets               868352
Favorites              868352
Verfied                868352
User Since             868352
Location               601569
Bio                    638733
Profile Image          868352
Airport Twitter Tag    856075
Airport IATA Codes     805463
Airport Names          856075
dtype: int64

## Checking information

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868352 entries, 0 to 868351
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 868352 non-null  object
 1   Screen Name          868352 non-null  object
 2   Full Name            868290 non-null  object
 3   Tweet Text           868352 non-null  object
 4   Tweet ID             868352 non-null  float64
 5   App                  868330 non-null  object
 6   Followers            868352 non-null  float64
 7   Follows              868352 non-null  float64
 8   Retweets             868352 non-null  float64
 9   Favorites            868352 non-null  float64
 10  Verfied              868352 non-null  object
 11  User Since           868352 non-null  object
 12  Location             601569 non-null  object
 13  Bio                  638733 non-null  object
 14  Profile Image        868352 non-null  object
 15  Airport Twitter Tag  856075 non-null  object
 16  Airport IATA Codes   805463 non-null  object
 17  Airport Names        856075 non-null  object
dtypes: float64(5), object(13)
memory usage: 119.3+ MB

## Checking statistics

In [9]:
df.describe(include='O')

,Date,Screen Name,Full Name,Tweet Text,App,Verfied,User Since,Location,Bio,Profile Image,Airport Twitter Tag,Airport IATA Codes,Airport Names
count,868352,868352,868290,868352,868330,868352,868352,601569,638733,868352,856075,805463,856075
unique,819899,418397,358746,755427,722,1,5262,90875,323095,2,3010,2979,3010
top,11/24/2016 20:51:37,@Flight_Refunds,????,@STN_Airport ??,Twitter for iPhone,No,11/4/2010,"London, England",??,View,@heathrowairport,LHR,Heathrow Airport
freq,89,1841,4617,898,401314,868352,2029,13412,1607,868349,82664,82664,82664

## Checking null values

In [10]:
df.isnull().sum()

Date                        0
Screen Name                 0
Full Name                  62
Tweet Text                  0
Tweet ID                    0
App                        22
Followers                   0
Follows                     0
Retweets                    0
Favorites                   0
Verfied                     0
User Since                  0
Location               266783
Bio                    229619
Profile Image               0
Airport Twitter Tag     12277
Airport IATA Codes      62889
Airport Names           12277
dtype: int64

In [11]:
# Handle the Null values
# Location 30%, bio 26% 

print('Percentage of missing values per feature')
round(df.isna().sum() * 100 / len(df), 2)

Percentage of missing values per feature

Date                    0.00
Screen Name             0.00
Full Name               0.01
Tweet Text              0.00
Tweet ID                0.00
App                     0.00
Followers               0.00
Follows                 0.00
Retweets                0.00
Favorites               0.00
Verfied                 0.00
User Since              0.00
Location               30.72
Bio                    26.44
Profile Image           0.00
Airport Twitter Tag     1.41
Airport IATA Codes      7.24
Airport Names           1.41
dtype: float64

## Checking duplicate values

In [12]:
df.duplicated().sum()

20501

In [13]:
df.drop_duplicates(keep='first',inplace=True)

In [14]:
df.duplicated().sum()

0

## Changing names, dropping columns and more eyeballing columns

In [15]:
# changing names of columns

df.columns = ['Date', 'Screen Name', 'Full Name', 'Tweet Text', 'Tweet ID', 'App',
       'Followers', 'Follows', 'Retweets', 'Favorites', 'Verfied',
       'User Since', 'Location', 'Bio', 'Profile Image', 'Airport_Twitter_Tag',
       'Airport_IATA_Codes', 'Airport_Names']

# Checking

df.columns

Index(['Date', 'Screen Name', 'Full Name', 'Tweet Text', 'Tweet ID', 'App',
       'Followers', 'Follows', 'Retweets', 'Favorites', 'Verfied',
       'User Since', 'Location', 'Bio', 'Profile Image', 'Airport_Twitter_Tag',
       'Airport_IATA_Codes', 'Airport_Names'],
      dtype='object')

In [16]:
df.drop(['Screen Name', 'Full Name', 'Tweet ID', 'App', 'Verfied', 'User Since', 'Bio', 'Profile Image'], axis = 1, inplace = True)
df.head()

,Date,Tweet Text,Followers,Follows,Retweets,Favorites,Location,Airport_Twitter_Tag,Airport_IATA_Codes,Airport_Names
0,11/7/2016 7:42:55,@SanDiegoAirport no tsa pre check for United?,23.0,116.0,0.0,0.0,NaN,@sandiegoairport,SAN,San Diego Airport
1,11/7/2016 8:13:37,Just call my name dear @contactap2 and i'll be...,171.0,267.0,0.0,0.0,"Cengkareng, Indonesia",@contactap2,HLP,Halim Perdanakusuma International Airport
2,11/7/2016 9:32:51,"@contactap2 mau nanya, utk tarif inap mobil di...",602.0,371.0,0.0,0.0,di hutan lalu belok ke pantai,@contactap2,HLP,Halim Perdanakusuma International Airport
3,11/7/2016 9:55:15,@contactap2 oke makasih infonya ????,602.0,371.0,0.0,0.0,di hutan lalu belok ke pantai,@contactap2,HLP,Halim Perdanakusuma International Airport
4,11/7/2016 10:34:22,@iflymia crasbs,469.0,5004.0,0.0,0.0,NaN,@iflymia,MIA,Miami International Airport

In [17]:
list(df.Airport_IATA_Codes.unique())

['SAN',
 'HLP',
 'MIA',
 'CGK',
 'DMM',
 'ORK',
 'LAS',
 'MSP',
 'ORK, DUB, BFS',
 'HKG',
 'BFS, LGW',
 'BWI',
 'MCI',
 'IAD',
 'TPA',
 'BFS',
 'GIG',
 'IND',
 nan,
 'MCI, SAT',
 'SAW',
 'YHZ',
 'PMW',
 'PHX',
 'BFS, BHD',
 'TPA, SFO',
 'TPA, ATL',
 'CGK, HLP',
 'HLP, CGK',
 'HLP, SIN',
 'ORK, LHR',
 'ORK, ORK',
 'PHX, DEN',
 'MIA, TPA',
 'TPA, LAS',
 'MIA, DCA',
 'PHX, DEN, SFO',
 'ORK, DUB',
 'BFS, DUB',
 'PHX, SFO',
 'MIA, MIA',
 'ORK, BOS',
 'PHX, LAX',
 'CGK, HLP, SIN',
 'PHX, LAS',
 'HLP, HLP',
 'MIA, ATL',
 'ORK, LPL',
 'ORK, SNN',
 'SAN, SFO',
 'LAS, LAS',
 'IAD, DCA',
 'HLP, HLP, CGK',
 'GIG, GIG',
 'ORK, SARP, MAN',
 'ORK, STN',
 'BFS, BRS',
 'PHX, LHR',
 'MIA, PHL',
 'TPA, DEN',
 'ORK, AMS',
 'MCI, ATL',
 'IND, SAN',
 'SAN, TPA',
 'SAN, LAX, SYD',
 'SAW, SAW',
 'MCI, PHX',
 'TPA, RIC, ATL',
 'SAN, SAN',
 'HKG, SYD',
 'PHX, DFW',
 'BFS, BFS',
 'LAS, YVR',
 'PHX, PHX',
 'GIG, N/A',
 'IAD, LHR',
 'BWI, SFO',
 'DFW, SEA, MIA, YYZ, TPA, LHR',
 'PHX, YVR, SEA, SFO',
 'PHX, SEA, DFW, SFO',
 'PHX, YVR, SEA, DFW, SFO',
 'PHX, YVR, DFW, SFO',
 'MIA, SIN, LHR, TPA, YYZ, SEA',
 'TPA, TPA',
 'MIA, SIN, TPA, YYZ, SEA, DFW',
 'TPA, DFW',
 'ORK, BRS',
 'PHX, SEA',
 'IND, BOS',
 'BWI, ORD',
 'BWI, IAD, DFW',
 'LAS, PHX',
 'MIA, LHR, SIN, FRA, DEN, ATL, AMS',
 'MIA, LHR, SIN, YVR, FRA, DEN, ATL, AMS, LAX',
 'MIA, LHR, SIN, YVR, FRA',
 'MIA, LCY',
 'MIA, LCY, LHR',
 'MIA, LHR',
 'MIA, SYD, LCY, LHR, LPL',
 'MIA, LHR, SIN, YVR, FRA, DEN, ATL, AMS, LAX, MIA',
 'BWI, SAN',
 'IAD, BWI',
 'PHX, DFW, ATL',
 'MIA, LHR, ATL, DFW, SFO, YVR',
 'MIA, LHR, ATL, DFW, SFO',
 'MIA, LHR, ATL, DFW, SFO, YVR, DEN',
 'MCI, MCI',
 'TPA, YOW',
 'IND, LAS',
 'MCI, SFO',
 'BWI, PHL',
 'BWI, BWI',
 'TPA, IAH',
 'BFS, SNN',
 'SAN, LAX, PHX',
 'MIA, BOS',
 'YHZ, YYZ',
 'BWI, DCA',
 'TPA, ORD',
 'MIA, JNB',
 'MIA, YVR',
 'MSP, MSP',
 'ORK, LGW',
 'SAN, BOS, MSP',
 'IND, SEA',
 'LAS, SEA',
 'MSP, SEA',
 'MSP, ORD',
 'BWI, BOS',
 'IND, IND',
 'ORK, SOU, BHX',
 'MCI, SAN',
 'CGK, CGK',
 'MCI, ORD, MAN',
 'SAN, DFW',
 'SAN, BWI',
 'PMW, CCS',
 'PHX, LAX, ORD, MIA, ATL',
 'YHZ, YHZ',
 'MIA, LAX',
 'SAN, LHR',
 'SAN, SEA',
 'BFS, N/A, N/A',
 'LAS, DUB',
 'MSP, LAX',
 'BFS, ORK',
 'SAN, FRA',
 'YHZ, DFW, BOS, MIA',
 'IAD, IAD',
 'TPA, IND',
 'IAD, SEA',
 'TPA, SAN',
 'TPA, SAN, LAX',
 'YHZ, SYD',
 'PHX, IAD',
 'PHX, FRA',
 'SAN, RIC',
 'DUB',
 'DMM, DMM',
 'IAD, DCA, DCA',
 'PHX, LAX, ORD, BWI, IAD, DCA, DFW, MIA',
 'MSP, PHL',
 'MCI, TPA',
 'SAN, SAT',
 'MSP, SEA, YYZ',
 'PMW, PMW',
 'MIA, SFO',
 'BHD',
 'IAD, LAX',
 'MSP, DFW',
 'MIA, SEA, YVR, DFW',
 'SAN, LAX',
 'MIA, BOS, YEG, PHX, YYZ, YVR',
 'PHX, MIA, BOS, YEG, YYZ, YVR',
 'YHZ, PHX, MIA, BOS, YEG, YYZ, YVR',
 'MIA, MCI',
 'MSP, DFW, MIA, TPA, PHX',
 'PHX, DFW, MIA, TPA',
 'MCI, DFW, MIA, TPA, PHX',
 'MIA, TPA, SEA, DFW, DEN',
 'PMW, MAR, VLC',
 'PHX, ORD, DEN, MSP, SFO, SEA',
 'PMW, VLC',
 'TPA, LAX, LAS',
 'PHX, MSP',
 'LAS, TPA',
 'TPA, BOS, MIA, YEG, MCI',
 'BWI, IAD',
 'IND, DFW',
 'PHX, YVR',
 'GIG, DFW',
 'TPA, ATL, TPA',
 'TPA, MCI',
 'HLP, CGK, CGK',
 'SAN, YVR, DFW',
 'LAS, SAN, DFW, YOW',
 'LAS, YVR, SAN, DFW, YOW',
 'MCI, YVR, SAN, DFW, YOW',
 'MSP, YVR, DAL, SAN, DFW',
 'MIA, YVR, DFW, DAL',
 'SAN, YVR, DFW, SAN',
 'MIA, YVR, YYZ, DFW, DAL',
 'MIA, YVR, YYZ, DFW',
 'TPA, MIA, YVR, YYZ, DFW',
 'TPA, YVR, YYZ, DFW',
 'MIA, TPA, YVR, YYZ, DFW',
 'MIA, YVR, DFW, DAL, SAN',
 'PHX, DFW, YVR, DAL',
 'MSP, PHX, DFW, DAL',
 'MSP, PHX, DFW, YVR',
 'TPA, MIA, YVR, DFW, DAL',
 'MIA, YVR, DFW',
 'MIA, YYZ, YEG, DFW, YVR',
 'MIA, YYZ, YEG, DFW',
 'MIA, YVR, YYZ, YEG, DFW',
 'MIA, SFO, YVR, DFW',
 'MIA, WAW, YVR, DFW',
 'MIA, DFW, SFO',
 'MIA, DFW, YVR, SFO',
 'MIA, YVR, SFO',
 'IAD, DFW, MIA, YVR, SFO',
 'IAD, DFW, MIA, SFO',
 'PHX, DFW, DEN, ATL, DAL, YVR, SEA, LHR, IAH',
 'TPA, YVR',
 'TPA, BOS, YEG, PHX',
 'MIA, YVR, PHX, DFW',
 'PHX, MIA, YVR, DFW',
 'MIA, PHX, DFW',
 'MIA, SFO, PHX, DFW',
 'PHX, YVR, MIA, SFO',
 'PHX, MIA, SFO',
 'MIA, YVR, PHX, SFO',
 'GIG, DFW, MIA, SFO',
 'SAN, MIA, YVR, PHX, SFO',
 'MIA, DFW, YVR',
 'MIA, SFO, YVR, PHX, DFW',
 'MIA, YVR, SIN, DFW',
 'LAS, LHR',
 'LAS, YVR, SFO, SIN, DFW',
 'GIG, YVR, DFW, MIA, SFO',
 'ORK, EDI',
 'ORK, LPL, DUB',
 'MCI, YVR',
 'TPA, PHL',
 'IAD, PHL',
 'TPA, MIA',
 'HLP, CGK, HLP',
 'PHX, YEG, BOS',
 'MSP, YVR',
 'MSP, TPA',
 'SAN, SFO, LAX',
 'MCI, LAS',
 'MCI, SEA',
 'MIA, LAX, ATL',
 'TPA, YVR, YEG, YYZ, YHZ, BOS, ORD',
 'TPA, YVR, YEG, YYZ, YHZ, BOS',
 'PHX, TPA, YVR, YEG, YYZ, YHZ, BOS',
 'BFS, MAN',
 'MSP, ATL',
 'MIA, DEN',
 'MIA, IAH',
 'IAD, STN',
 'MIA, UIO',
 'TPA, DFW, DEN, DAL, SAN, SEA',
 'TPA, YVR, DEN, DAL, SAN, SEA',
 'TPA, DFW, YVR, DEN, DAL, SAN, SEA',
 'TPA, DFW, DEN, DAL, SAN',
 'TPA, DFW, YVR, DEN, DAL, SAN',
 'TPA, DFW, YVR, DEN, DAL',
 'LAS, DEN, YVR, SEA, TPA, DFW',
 'SAN, PHX',
 'BWI, DCA, IAD',
 'LAS, ORD',
 'TPA, DFW, MIA, YEG',
 'TPA, YVR, DFW, MIA',
 'MIA, YVR, DFW, TPA',
 'TPA, LAX',
 'ORK, CWL',
 'YHZ, YYZ, LAS',
 'TPA, BOS',
 'TPA, DFW, MIA, BOS, YYZ, YHZ, MSP',
 'HKG, HKG',
 'HKG, HKG, HKG',
 'ORK, AMS, BHX',
 'ORK, AMS, BHX, ORK',
 'ORK, LHR, EDI, MAN',
 'ORK, DUB, SNN',
 'MSP, LAX, ORD, SAT, SAN',
 'LAS, DEN',
 'MSP, YVR, TPA, MIA, DFW, SEA, LAS',
 'TPA, YVR, MIA, DFW, SEA, LAS, MSP',
 'TPA, YVR, MIA, DFW, SEA, LAS',
 'MIA, YVR, TPA, DFW, SEA, LAS',
 'IAD, YVR, TPA, MIA, DFW, SEA, LAS',
 'LAS, YVR, TPA, MIA, DFW, SEA, MSP',
 'LAS, TPA, MIA, DFW, SEA, MSP',
 'MIA, PHL, YVR, TPA, DFW, LAS, MSP',
 'SAN, YVR, TPA, MIA, DFW, SEA, LAS',
 'LAS, LHR, YVR, TPA, MIA, DFW, SEA',
 'MSP, TPA, YVR, MIA, DFW, SEA, LAS',
 'MSP, DEN',
 'MSP, AMS',
 'TPA, ATL, DFW',
 'PHX, BOS',
 'PHX, YEG, BOS, YVR',
 'PHX, BOS, YVR',
 'PHX, BOS, YVR, SYD',
 'TPA, DCA',
 'ORK, LHR, AMS',
 'MSP, YVR, BWI, SFO',
 'TPA, MSP, YVR, BWI, SFO',
 'BWI, TPA, MSP',
 'IAD, DCA, LAX, TPA, SAN, LAS',
 'MIA, IAD, DCA, LAX, TPA, SAN, LAS',
 'MSP, DUB',
 'MSP, YEG',
 'TPA, YVR, SFO',
 'MSP, YYZ, LHR, SEA, TPA',
 'TPA, YVR, LHR, SEA, MSP',
 'IAD, ORD, DCA, ATL, PHL, DFW',
 'LAS, LGW',
 'TPA, DFW, BWI, YVR, MIA, IAD, DEN, SFO',
 'TPA, DFW, BWI, YVR, IAD, DEN, SFO',
 'TPA, BWI, YVR, MIA, IAD, DEN, SFO',
 'TPA, DFW, BWI',
 'TPA, DFW, BWI, YVR, MIA, DEN, SFO',
 'TPA, DFW, BWI, MIA, IAD, DEN, SFO',
 'TPA, YVR, DFW, BWI, MIA, IAD, DEN',
 'TPA, DCA, IAD, MIA, LAX, SAN, LAS',
 'TPA, DCA, IAD, MIA, SAN, LAS',
 'MIA, DUB',
 'IAD, DCA, IAD',
 'MSP, PHX',
 'MSP, PHX, DFW',
 'TPA, DFW, YVR, SFO, MIA',
 'MIA, DFW, YVR, SFO, TPA',
 'TPA, LHR',
 'TPA, YVR, LHR, SAN',
 'BWI, DEN',
 'BFS, BHX',
 'TPA, SFO, YVR, BWI, MIA, LHR, DFW',
 'TPA, SFO, YVR, BWI, MIA, DFW',
 'MIA, TPA, SFO, BWI, LHR, DFW, YEG',
 'TPA, SFO, YVR, BWI, MIA, LHR',
 'YHZ, LGW, LGW',
 'YHZ, LGW',
 'MSP, MSP, BOS',
 'SAN, YVR',
 'TPA, IAD',
 'DMM, DMM, RUH',
 'TPA, LHR, YVR, DFW',
 'TPA, YVR, DFW',
 'TPA, DFW, LHR',
 'TPA, MIA, YVR',
 'MIA, TPA, YVR, TPA',
 'MIA, YVR, DFW, ATL',
 'MIA, TPA, YVR, DFW, ATL',
 'TPA, YVR, DFW, ATL',
 'MIA, TPA, YVR, DFW',
 'TPA, MIA, MIA',
 'MIA, TPA, YVR, ATL',
 'TPA, MIA, TPA',
 'MSP, MIA, TPA, YVR, DFW, ATL',
 'MSP, MIA, TPA, DFW, ATL',
 'MSP, TPA, YVR, DFW, ATL',
 'MIA, MSP, TPA, DFW, ATL',
 'PHX, YVR, MIA, MSP, TPA, DFW',
 'PHX, MIA, MSP, TPA, DFW, ATL',
 'MIA, TPA, DFW, ATL',
 'TPA, MIA, YVR, TPA',
 'CGK, HLP, HLP',
 'SAN, MSP',
 'SAN, IAD',
 'IAD, EDI',
 'PHX, LHR, N/A',
 'MIA, SARP',
 'PHX, DFW, YEG, YVR, LAX, BOS, YYZ',
 'TPA, DFW, SEA, YOW, YYZ',
 'MIA, YVR, DFW, TPA, SEA, YOW, YYZ',
 'BWI, DFW',
 'ORK, SNN, DUB',
 'MCI, BOS',
 'LAS, IAD',
 'TPA, DCA, TPA',
 'TPA, SYD, BNE, MEL, LHR',
 'MIA, DFW, BNE, SYD, YVR',
 'PHX, MIA, DFW, BNE, SYD',
 'SAN, PHX, MIA, DFW, BNE, SYD',
 'PHX, ATL, MIA, IAD, LAX, DEN',
 'MIA, DFW',
 'PHX, LHR, EDI',
 'MIA, YYZ, MEX, DFW, LAX, SEA, IAD, BWI',
 'MIA, YYZ, MEX, DFW, SEA, IAD, BWI, DCA',
 'MIA, YYZ, MEX, DFW, LAX, SEA, IAD, DCA',
 'MIA, YYZ, MEX, LAX, SEA, IAD, BWI, DCA',
 'MIA, YYZ, MEX, LAX, SEA, IAD, BWI, DCA, BOS',
 'CGK, HLP, CGK',
 'TPA, MIA, YVR, BWI, LHR, SFO',
 'TPA, YVR, BWI, LHR, SFO',
 'MIA, YVR, BWI, LHR, SFO',
 'TPA, MIA, YVR, BWI, SFO',
 'TPA, MIA, BWI, LHR, SFO',
 'MIA, TPA, YVR, BWI, LHR, SFO',
 'TPA, MIA, YVR, LHR, SFO',
 'IAD, TPA, MIA, YVR, BWI, LHR, SFO',
 'TPA, IAD, MIA, BWI, LHR, SFO',
 'HKG, N/A',
 'MIA, DFW, AMS, N/A, SARP, ATL, HKG',
 'TPA, ATL, MIA, DFW, AMS',
 'TPA, ATL, MIA, DFW, AMS, N/A',
 'MIA, N/A, LAX, TPA',
 'MIA, LAX, TPA, ATL',
 'SAN, N/A, LAX, TPA',
 'MIA, ATL, N/A',
 'TPA, MIA, ATL, N/A',
 'N/A, LAX, TPA, ATL',
 'MIA, N/A, TPA, ATL',
 'DMM, RUH, JED',
 'DMM, JED, RUH',
 'MIA, N/A, LAX, TPA, ATL',
 'TPA, MSP',
 'TPA, ATL, LGW, YVR',
 'TPA, TPA, MIA, ATL',
 'IND, TPA',
 'MIA, TPA, ATL, DFW',
 'TPA, SFO, DFW, BWI',
 'TPA, SFO, DFW, BWI, YVR',
 'TPA, RIC',
 'TPA, BHX',
 'TPA, LBA',
 'TPA, PHX',
 'ORK, SOU',
 'TPA, ATL, BWI, IAD',
 'IAD, TPA',
 'MIA, DFW, MSP',
 'MSP, MIA, DFW, MSP',
 'MSP, MIA',
 'YHZ, BOS',
 'LAS, SAN',
 'LAS, YEG',
 'IAD, BOS',
 'IAD, DCA, LAX',
 'YVR',
 'YVR, DCA, SAN, DFW, MIA, SFO, PHL',
 'TPA, YVR, DCA, SAN, DFW, SFO, PHL',
 'MIA, YVR, DCA, SAN, DFW, SFO, PHL',
 'MIA, TPA, YVR, DCA, SAN, DFW, SFO, PHL',
 'MIA, TPA, YVR, SAN, DFW, SFO, PHL',
 'TPA, MIA, DCA, SAN, LAX',
 'MSP, TPA, YVR, MIA, DCA, SAN, LAX',
 'TPA, YVR, MIA, DCA, SAN, LAX',
 'BFS, LTN, STN, LGW',
 'TPA, YVR, DFW, MIA, YOW',
 'IAD, MIA',
 'LAX',
 'TPA, LAX, TPA',
 'TPA, LAX, LAX',
 'TPA, LAX, BOS',
 'TPA, BWI, MIA, SFO, DFW, YVR, LAX',
 'MSP, MSP, ORD',
 'MSP, PHL, MSP',
 'MSP, MSP, BWI',
 'MSP, BWI',
 'TPA, BWI, MIA, SFO, DFW, LAX',
 'MIA, ATL, DFW, YVR, SAN, TPA',
 'TPA, DFW, MIA, ATL, YVR',
 'MIA, DFW, YVR, SAN, TPA',
 'TPA, BOG',
 'TPA, AMS',
 'PMW, N/A',
 'DMM, RUH',
 'MIA, YOW, TPA, LAX, IAH',
 'TPA, YOW, LAX, IAH, MIA',
 'MSP, TPA, MSP',
 'MSP, SFO',
 'TPA, BWI, YVR, LAX, SFO, MIA, IAD',
 'TPA, BWI, YVR, LAX, SFO, MIA',
 'TPA, YVR, LAX, SFO, MIA, IAD',
 'PHX, SAN, SEA',
 'MCI, DEN',
 'YHZ, DUB',
 'MSP, LHR',
 'PHX, MIA, BOS, IND',
 'MIA, YEG',
 'GIG, AMS',
 'BFS, LHR',
 'MIA, DFW, DEN',
 'BFS, BHX, EDI',
 'IND, FRA',
 'BWI, MIA',
 'TPA, ATL, YVR',
 'TPA, YVR, YOW',
 'MIA, SEA, YVR, ATL, DFW',
 'IAD, YVR',
 'IAD, YVR, YOW, TPA, BWI',
 'TPA, YVR, TPA',
 'IAD, IAD, BWI',
 'BWI, YVR',
 'YHZ, PHL',
 'PHX, LHR, PHX',
 'PHX, BOS, LHR',
 'MIA, DEN, SEA, YVR, ATL, DFW',
 'ORK, MAN, ORK',
 'BWI, IAD, DCA, BWI',
 'BFS, STN',
 'YHZ, ORD',
 'IAD, ORD',
 'ORK, LGW, STN',
 'MIA, IAD',
 'TPA, LGW',
 'MIA, DFW, YVR, DAL',
 'MIA, DFW, DAL',
 'MIA, YVR, DAL',
 'SAN, MIA, DFW, YVR',
 'PHX, PHX, SEA',
 'BWI, TPA',
 'LAS, YOW',
 'MSP, DFW, BWI, ORD, ATL, MIA, PHX',
 'MIA, SEA, SFO, MSP, DFW, BWI, ORD, ATL',
 'MIA, DFW, YVR, DAL, SAN',
 'HKG, BRU',
 'TPA, LPL',
 'IAD, MSP',
 'BFS, GLA',
 'PHX, DEN, MSP, ATL',
 'IAD, DEN, ATL, TPA',
 'MSP, DEN, ATL, TPA',
 'IAD, DEN, MSP, ATL, TPA',
 'BFS, DUB, BFS',
 'YHZ, YYZ, YOW, YVR',
 'IAD, DUB',
 'HKG, SIN',
 'IAD, YVR, TPA, DFW, YOW, LAX',
 'MIA, IAD, YVR, TPA, DFW, YOW, LAX',
 'LAS, LAX',
 'TPA, IAD, YVR, SFO, MIA, ATL, TPA',
 'TPA, IAD, YVR, SFO, MIA, ATL',
 'TPA, TPA, TPA',
 'TPA, SFO, YVR, IAD, LAX, SAN, ATL',
 'TPA, SFO, YVR, IAD, MIA, LAX, SAN, ATL',
 'MIA, TPA, SFO, YVR, IAD, LAX, SAN, ATL',
 'TPA, SFO, YVR, MIA, LAX, SAN, ATL',
 'TPA, SFO, YVR, IAD, MIA, LAX, SAN',
 'TPA, MIA, SFO, YVR, IAD, LAX, SAN, ATL',
 'TPA, SFO, YVR, IAD, MIA, LAX, ATL',
 'TPA, SFO, YVR, IAD, MIA, SAN, ATL',
 'TPA, DEN, ATL, SFO, YVR, IAD, MIA',
 'TPA, DEN, ATL, SFO, IAD, MIA',
 'TPA, DEN, ATL, SFO, YVR, IAD',
 'IAD, DEN, ATL, TPA, SFO, YVR, MIA',
 'DEN, ATL, TPA, SFO, YVR, MIA',
 'IAD, AMS',
 'BWI, ATL',
 'TPA, IAD, TPA',
 'SAN, DCA, SEA, DFW, MIA, LAS, PHX',
 'MIA, TPA, MIA',
 'TPA, SEA',
 'TPA, ATL, IND',
 'MIA, TPA, ORD',
 'SAW, N/A',
 'TPA, TPA, MSP',
 'TPA, MSP, LAS, DAL, IND',
 'ORK, DUB, ORK',
 'TPA, MIA, HEL',
 'TPA, TPA, PHX',
 'TPA, YVR, ATL, MSP, SFO, BWI, DCA',
 'MSP, SFO, YVR, ATL, TPA, BWI, DCA',
 'PHX, DAL',
 'MCI, LHR',
 'IAD, DCA, BWI',
 'TPA, PHL, TPA',
 'ORK, BER',
 'IAD, IAH',
 'PHX, TPA, PHX',
 'SNN',
 'MIA, DFW, ATL',
 'TPA, MIA, DFW, ATL',
 'TPA, MIA, ATL',
 'TPA, DFW, ATL',
 'BWI, MSP',
 'BWI, DAL',
 'BWI, LAS',
 'MSP, LAS',
 'HKG, HKG, BOM',
 'TPA, IND, TPA',
 'PHX, TPA, DFW, DEN, LAX, SEA',
 'IAD, AMS, ATL',
 'MIA, ATL, YVR, ORD',
 'TPA, MIA, ATL, YVR, ORD, DCA',
 'IAD, MIA, ATL, YVR, ORD, DCA, DFW',
 'IAD, TPA, MIA, ATL, YVR, DCA',
 'TPA, IAD, MIA, ATL, YVR, DCA',
 'TPA, MIA, ATL, YVR, ORD, DCA, DFW, SAN',
 'TPA, MIA, ATL, YVR, ORD, DCA, DFW',
 'IAD, TPA, MIA, ATL, YVR, ORD',
 'IAD, TPA, MIA, ATL, YVR, ORD, DCA',
 'TPA, MIA, YVR, ORD, DCA, DFW',
 'TPA, MIA, ATL, YVR, ORD',
 'TPA, MIA, ATL, ORD, DCA, DFW',
 'IAD, SYD',
 'HKG, MUC, SYD, YYZ',
 'PHX, DEN, TPA, ATL, YVR',
 'MIA, MIA, TPA',
 'MIA, IAD, DFW, SFO, LAX',
 'PHX, YEG, YVR, DFW, BOS, YHZ, MIA, TPA',
 'TPA, TPA, LAX, LHR',
 'DMM, JED',
 'DMM, JED, JED',
 'ORK, LHR, STN',
 'IAD, SAN',
 'MIA, SFO, LHR, LGW, MCI, PHL',
 'MIA, LAX, SFO, LHR, LGW, MCI',
 'MIA, LAX, LHR, LGW, MCI, PHL',
 'MIA, LAS, DFW, LAX, YYZ, DCA, YVR, ATL',
 'MIA, LAS, LAX, YYZ, DCA, YVR, ATL, SFO',
 'TPA, MIA, LAS, LAX, YYZ, DCA, YVR, ATL',
 'MIA, LAS, DFW, LAX, YYZ, DCA, YVR, ATL, SFO, TPA',
 'TPA, DFW, MIA, LAS, LAX, YYZ, DCA, YVR, ATL',
 'MIA, IAH, LAS, DFW, LAX, YYZ, DCA, YVR, ATL',
 'MIA, LAS, DFW, LAX, YYZ, DCA, YVR, SFO',
 'MIA, LAS, DFW, LAX, YYZ, YVR, ATL, SFO, TPA',
 'MIA, LAS, DFW, YYZ, DCA, YVR, ATL, SFO, TPA',
 'TPA, DFW, MIA, LAS, YYZ, DCA, YVR, ATL, SFO',
 'MIA, LAS, DFW, LAX, DCA, YVR, ATL, SFO, TPA',
 'MSP, PHL, MIA, LAS, DFW, LAX, YYZ, DCA',
 'MIA, LAS, DFW, LAX, YYZ, DCA, ATL, SFO',
 'MIA, LAS, DFW, YYZ, DCA, YVR, ATL',
 'MIA, LAS, DFW, LAX, YYZ, DCA, YVR, ATL, SFO',
 'MSP, PHL, YYZ, TPA, ORD',
 'PHX, DFW, YEG, YVR, MIA, LAX',
 'YHZ, DFW, YEG, YVR, PHX, MIA',
 'BWI, DFW, YEG, YVR, PHX, MIA, LAX',
 'TPA, DUB, TPA, DUB',
 'TPA, DUB, DUB',
 'TPA, DUB',
 'TPA, DUB, TPA',
 'IAD, ATL, LAS, PHL, SAN',
 'MIA, ATL, LAX, ORD, DFW, DEN, SFO, LAS',
 'LAS, PHL',
 'TPA, DFW, DFW, TPA',
 'TPA, TPA, ORD',
 'IAD, BFS',
 'IAD, SAT',
 'IAD, SFO',
 'IAD, MAN',
 'IAD, N/A',
 'TPA, LAX, SFO',
 'IAD, LGW',
 'IAD, SFO, DEN, MIA, TPA, YVR',
 'MIA, TPA, IAD, DEN, ATL, YVR',
 'TPA, ATL, YVR, MIA, LAX, ORD, IAD',
 'TPA, ATL, YVR, DFW, MIA, LAX, IAD',
 'TPA, ATL, YVR, DFW, MIA, LAX, ORD',
 'TPA, ATL, YVR, DFW, MIA, LAX, ORD, IAD',
 'TPA, YVR, DFW, MIA, LAX, ORD, IAD',
 'TPA, ATL, YVR, DFW, LAX, ORD, IAD',
 'TPA, ATL, YVR, DFW, MIA, ORD, IAD',
 'TPA, TPA, BOS',
 'TPA, SFO, ORD',
 'TPA, LAX, ATL',
 'IAD, DEN',
 'PHX, ORD, PHX',
 'ATL, PHL, IAD',
 'LAS, PHL, IAD',
 'LAS, ATL, PHL, IAD',
 'PHX, SFO, PHX',
 'PHX, SFO, SFO',
 'SFO',
 'MSP, DFW, MSP',
 'IAD, FRA',
 'PHX, IAH, IAH',
 'PHX, IAH',
 'TPA, TPA, MIA, DFW',
 'TPA, TPA, DFW',
 'TPA, DFW, TPA, SFO',
 'LAS, DAL',
 'TPA, DEN, SFO, DCA, YVR',
 'TPA, DEN, SFO, ATL, DCA, YVR',
 'TPA, DEN, SFO, ATL, DCA',
 'PHX, PHX, DFW',
 'TPA, BNE',
 'MIA, BWI',
 'ORK, AMS, STN',
 'ORK, STN, ORK',
 'ORK, STN, LHR, AMS',
 'YHZ, YOW, SAN, MCI, YEG, DAL, YVR',
 'YHZ, SAN, MCI, YEG, DAL, YVR',
 'BWI, DEN, MIA, DFW, LAX, MSP',
 'MIA, BOG',
 'BWI, IAD, DCA',
 'SAN, DAL',
 'MSP, BOS, MCI, YYZ, BWI',
 'LAS, ATL',
 'DFW, YVR, ATL',
 'TPA, DFW, YVR, ATL, TPA',
 'TPA, DFW, YVR, ATL',
 'LAX, DFW, IAD, ATL, SFO, YYZ',
 'TPA, DFW, SFO, YYZ, ATL, LAX',
 'LAS, MIA, DEN, YVR',
 'IAD, LAS, MIA, YVR',
 'LAS, DEN, IAD, YVR',
 'LAS, MIA, DEN, IAD, YVR',
 'LAS, MIA, DEN, IAD, YVR, DUB',
 'LAS, MIA, DEN, IAD',
 'YHZ, YOW',
 'IND, LHR',
 'IND, MSP',
 'IND, MSP, IND',
 'IND, LAX, BOS',
 'ORK, BHD',
 'YOW',
 'YEG',
 'PHX, SFO, DFW, LAX, SYD',
 'TPA, DFW, IAH, DAL',
 'TPA, IAH, DAL',
 'TPA, DFW, DAL',
 'MIA, SFO, TPA, DFW, LAX, IAD, DCA',
 'ORK, FRA',
 'HKG, LAX',
 'JED',
 'MAR',
 'FRA',
 'SVO',
 'RUH',
 'DEN',
 'FRA, MUC',
 'LPL',
 'ORD',
 'ATL',
 'FRA, EDI',
 'RIC',
 'MXP',
 'SFO, LAX',
 'EXT',
 'LBA',
 'LPL, LPL',
 'MTY',
 'SOU',
 'MXP, SIN',
 'MXP, OSL',
 'SFO, YVR',
 'N/A, GIG',
 'RIC, DEN',
 'ATL, ATL',
 'N/A, MTY',
 'DEN, TPA',
 'MTY, N/A',
 'ORD, LAX',
 'BOS, LAX, YVR, MSP',
 'MXP, AMS',
 'FRA, WAW',
 'RIC, RIC',
 'FRA, MXP',
 'DEN, MUC',
 'EXT, SOU, ABZ',
 'MTY, MEX',
 'MAR, CCS',
 'FRA, FRA',
 'LBA, LHR',
 'MXP, MUC',
 'FRA, MUC, MAN, MUC',
 'MTY, MTY',
 'DEN, PHX',
 'ORD, ORD',
 'DEN, SEA',
 'SFO, SEA',
 'SOU, GLA',
 'LBA, DUB',
 'RUH, JED',
 'RUH, RUH',
 'ATL, SFO',
 'DEN, ORD',
 'ORD, BOS',
 'LPL, MAN',
 'ORD, LAX, DFW, SFO',
 'RIC, BWI',
 'SFO, BOS',
 'YEG, YEG',
 'LPL, N/A',
 'EXT, BRS',
 'FRA, MAN',
 'SFO, SFO',
 'ORD, ORD, ORD',
 'ORD, IAD',
 'SFO, DFW',
 'ORD, DFW',
 'SFO, IAD',
 'FRA, N/A',
 'ORD, DCA',
 'LPL, LGW',
 'ATL, AMS',
 'JED, RUH',
 'SOU, SOU',
 'FRA, DEL',
 'FRA, LHR, AMS, SIN, MIA, LAX, DEN, ATL',
 'FRA, AMS, SIN, YVR, MIA, LAX, DEN, ATL',
 'ATL, LAX',
 'N/A, N/A',
 'ATL, LHR, MIA, FRA, AMS, SIN, DEN',
 'ATL, LHR, MIA, FRA, AMS',
 'FRA, AMS',
 'ORD, TPA',
 'LPL, LHR, STN, MAN',
 'ORD, DFW, PHL',
 'DEN, DEN',
 'SVO, VKO',
 'ATL, DFW',
 'FRA, HEL',
 'ATL, LAX, MIA',
 'ATL, MIA, IAH, MCI, LAX',
 'LBA, LBA',
 'LBA, MAN',
 'MAR, VLC',
 'RUH, DMM',
 'SFO, ORD, MAN',
 'FRA, IAH',
 'SFO, MAN',
 'SFO, IAH',
 'ORD, LHR',
 'N/A, BOG',
 'JED, JED',
 'FRA, HAM',
 'ATL, SEA',
 'RIC, ATL, RIC',
 'SFO, SIN',
 'MXP, LGW',
 'SFO, LHR, LGW',
 'SFO, LAS',
 'ATL, LAX, DFW',
 'FRA, BRU',
 'ATL, LAX, MIA, IAH',
 'MXP, MXP',
 'MXP, BER',
 'YEG, SYD, MIA',
 'ATL, DEN',
 'LBA, LCY',
 'ORD, SFO, DFW',
 'EXT, EXT',
 'RIC, ATL',
 'ATL, SEA, DFW, SFO',
 'SOU, MAN',
 'FRA, LHR',
 'ORD, SEA',
 'LPL, ORK',
 'AMS',
 'ATL, ORD',
 'DEN, IAD, RIC',
 'DEN, YVR, IAD, RIC',
 'SOU, ORK',
 'YEG, YVR, YYZ, YHZ',
 'DEN, BOS',
 'YEG, BOS, MSP, YVR',
 'YEG, YVR',
 'YEG, BOS',
 'YEG, SEA, YVR',
 'SVO, SVO',
 'DEN, BOS, IAH, ATL',
 'DEN, DEN, ORD',
 'SOU, LGW',
 'MAR, MAR',
 'MXP, BRU',
 'SFO, MIA',
 'YEG, PHX',
 'FRA, BER',
 'FRA, DUB',
 'YEG, BOS, MIA, YVR, PHX',
 'ORD, SFO',
 'ATL, DAL',
 'LPL, DUB',
 'FRA, LGW',
 'ATL, MSP',
 'YEG, BOS, MIA, YYZ',
 'ATL, BWI',
 'DEN, YVR',
 'FRA, FRA, MUC',
 'SFO, YVR, DFW, DAL',
 'YEG, DFW, YVR, DAL',
 'SFO, YVR, DFW',
 'SFO, YVR, DFW, MIA',
 'SFO, YVR, PHX, DFW',
 'SFO, MIA, YVR, PHX, DFW',
 'SFO, YVR, PHX, MIA',
 'SFO, SIN, DFW',
 'YEG, BOS, PHX',
 'ORD, DEN',
 'LBA, SOU',
 'LBA, LPL, MAN',
 'FRA, BER, HAM',
 'ORD, MUC',
 'ATL, BER',
 'LBA, LBA, CWL',
 'YEG, ORD',
 'ATL, MEX',
 'ORD, PHX, DFW',
 'RIC, DEN, SEA',
 'DEN, TPA, DFW, YVR, DAL',
 'DEN, TPA, DFW, DAL',
 'DEN, DFW, YVR, TPA, DAL',
 'DEN, YVR, TPA, DAL, SAN',
 'DEN, SEA, TPA, DFW, DAL',
 'DEN, YVR, SEA, TPA, DFW, DAL',
 'DEN, YVR, SEA, TPA, DFW',
 'DEN, YVR, TPA, DFW, DAL',
 'DEN, IAD',
 'LBA, DUB, LBA',
 'ATL, LHR',
 'RIC, PHL',
 'ATL, IAH',
 'YEG, DFW, TPA, MIA, BOS, YYZ, YHZ',
 'SFO, IND',
 'ORD, YVR',
 'LBA, MAN, LBA',
 'SOU, DUB, SOU',
 'ORD, YOW, SAT, SAN',
 'ATL, SAT',
 'ATL, YVR, TPA, MIA, DFW, SEA, LAS',
 'ORD, ATL',
 'FRA, YVR, MIA, LAS, MSP, DFW',
 'YEG, BOS, YVR, SYD',
 'FRA, BOS, BHX',
 'FRA, BHX',
 'ATL, DUB',
 'ATL, IAH, DFW, LAX, IAD',
 'LPL, LHR, MAN',
 'ATL, LAX, ORD',
 'DEN, LHR',
 'ATL, YVR, MIA, DFW, DEN',
 'ATL, TPA',
 'DEN, IND',
 'YVR, TPA, SFO, BWI, DFW',
 'ATL, YVR, TPA, SFO, BWI, DFW',
 'LPL, MAN, EDI, GLA, FRA',
 'LPL, MUC, N/A',
 'ATL, MAN',
 'RIC, MSP',
 'ATL, LAS, SEA',
 'ATL, DFW, YVR, SFO, TPA, MIA',
 'FRA, SIN',
 'ATL, ICN',
 'ATL, LAX, LAS',
 'FRA, YVR',
 'RIC, BOS',
 'YEG, SFO',
 'ORD, ORD, GLA',
 'ATL, MIA, TPA, YVR, DFW',
 'DEN, FRA',
 'ATL, LHR, ATL',
 'MXP, AMS, MXP',
 'DEN, DUB, LHR',
 'JED, DMM',
 'ATL, LAX, SEA',
 'FRA, MUC, HAM',
 'MXP, STN',
 'DEN, MIA, YYZ, MEX, DFW, LAX, IAD, BWI',
 'ATL, IAD',
 'N/A, MEX',
 'FRA, ORD',
 'ATL, MIA, DFW, AMS, N/A',
 'ATL, MIA, DFW, AMS, N/A, SARP',
 'ATL, MIA, N/A',
 'ATL, MIA, N/A, LAX, TPA',
 'FRA, YYZ',
 'LPL, LPL, MAN',
 'ATL, LGW, TPA, YVR',
 'ATL, LGW, YVR',
 'ATL, LGW, TPA',
 'SFO, LHR, SFO',
 'SFO, LHR',
 'SFO, IAH, SFO',
 'LBA, MAN, BHX, LPL, BHD',
 'ATL, DFW, DFW',
 'FRA, MUC, BER',
 'SOU, N/A',
 'ATL, LAX, SFO',
 'JED, RUH, DMM',
 'FRA, STN',
 'SFO, ORD',
 'FRA, MUC, HAM, BER',
 'RIC, ORD, SEA',
 'ATL, DFW, YVR, SAN, TPA',
 'ATL, YVR, SAN',
 'ATL, YVR',
 'ATL, DFW, MIA, YVR, SAN',
 'ATL, DFW, MIA, SAN, TPA',
 'ATL, YVR, DFW, MIA, SAN',
 'ATL, DFW, MIA, YVR, SAN, TPA',

In [18]:
# locations top list

df.Location.value_counts(normalize=True).head(20)

London, England             0.022009
London                      0.019042
United Kingdom              0.011373
Ireland                     0.009324
UK                          0.009066
England, United Kingdom     0.008943
Dublin City, Ireland        0.006446
London, UK                  0.006359
Manchester, England         0.005872
Dublin                      0.005554
United States               0.005268
Manchester                  0.005021
Los Angeles, CA             0.004919
??????                      0.004275
Dublin, Ireland             0.004023
Atlanta, GA                 0.003450
Edinburgh, Scotland         0.003422
Scotland, United Kingdom    0.003382
Berlin                      0.003217
Edinburgh                   0.003204
Name: Location, dtype: float64

In [19]:
# Airport top list

df.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport    0.094361
@manairport         0.075434
@dublinairport      0.058450
@gatwick_airport    0.048535
@stn_airport        0.044019
@schiphol           0.031683
@centrairairport    0.030404
@contactap2         0.026839
@yvrairport         0.023120
@aena               0.022182
@edi_airport        0.020922
@dfwairport         0.020197
@atlairport         0.018731
@flylaxairport      0.017133
@aicm_mx            0.015915
@kkiasa             0.015619
@torontopearson     0.014470
@gla_airport        0.013326
@bog_eldorado       0.013071
@flytpa             0.012573
Name: Airport_Twitter_Tag, dtype: float64

In [20]:
# IATA code top list

df.Airport_IATA_Codes.value_counts(normalize=True).head(20)

LHR    0.100284
MAN    0.080169
DUB    0.062119
LGW    0.051582
STN    0.046782
AMS    0.033672
NGO    0.032312
HLP    0.028524
YVR    0.024571
EDI    0.022235
DFW    0.021464
ATL    0.019907
LAX    0.018209
MEX    0.016914
RUH    0.016600
YYZ    0.015378
GLA    0.014162
BOG    0.013891
TPA    0.013362
BHX    0.013099
Name: Airport_IATA_Codes, dtype: float64

## Selecting data which contains airports below, please note that some tweets contain several airports

In [21]:
# selecting data which contains airports below, please note that some tweets contain several airports
# new dataframe
# # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html#pandas.Series.str.contains

# @heathrowairport    0.094361
# @manairport         0.075434
# @dublinairport      0.058450
# @gatwick_airport    0.048535
# @stn_airport        0.044019

df2 = df[df['Airport_Twitter_Tag'].astype(str).str.contains('@heathrowairport|@manairport|@dublinairport|@gatwick_airport|@stn_airport', case=True, regex=True)]

In [22]:
# new dataframe

df2

,Date,Tweet Text,Followers,Follows,Retweets,Favorites,Location,Airport_Twitter_Tag,Airport_IATA_Codes,Airport_Names
20,11/7/2016 18:35:14,@CorkAirport @DublinAirport @BelfastAirport ht...,156.0,590.0,0.0,0.0,NaN,"@corkairport, @dublinairport, @belfastairport","ORK, DUB, BFS","Cork Airport, Dublin Airport, Belfast Internat..."
22,11/7/2016 19:12:11,@belfastairport to @Gatwick_Airport with @Ryan...,754.0,701.0,0.0,0.0,"Spires Mall, 45 Howard St. BT1","@belfastairport, @gatwick_airport","BFS, LGW","Belfast International Airport, Gatwick Airport..."
610,11/16/2016 23:08:02,@CorkAirport @irishexaminer great to hear more...,207.0,839.0,0.0,0.0,Bantry/Cork/London,"@corkairport, @heathrowairport","ORK, LHR","Cork Airport, Heathrow Airport"
1046,11/23/2016 0:00:45,@CorkAirport @DublinAirport @TheLoopDutyFree K...,2542.0,1996.0,0.0,0.0,NaN,"@corkairport, @dublinairport","ORK, DUB","Cork Airport, Dublin Airport"
1308,11/27/2016 5:38:47,@CorkAirport @DublinAirport Passed over Little...,123.0,148.0,0.0,0.0,Ireland,"@corkairport, @dublinairport","ORK, DUB","Cork Airport, Dublin Airport"
...,...,...,...,...,...,...,...,...,...,...
868309,3/23/2021 21:21:43,@STN_Airport Thank you ??,11378.0,1057.0,0.0,0.0,"Manchester, England",@stn_airport,STN,London Stansted Airpor
868344,3/24/2021 13:56:49,@STN_Airport Good morning stansted airport ????,95.0,958.0,0.0,0.0,NaN,@stn_airport,STN,London Stansted Airpor
868346,3/24/2021 15:03:10,@STN_Airport OMG ...... if only you knew how m...,95.0,958.0,0.0,1.0,NaN,@stn_airport,STN,London Stansted Airpor
868347,3/24/2021 15:06:29,@STN_Airport @KevinS22551757 Spain is in my bl...,95.0,958.0,0.0,1.0,NaN,@stn_airport,STN,London Stansted Airpor
868350,3/24/2021 15:59:14,@STN_Airport Thanks @STN_Airport for your quic...,0.0,31.0,0.0,0.0,NaN,"@stn_airport, @stn_airport","STN, STN","London Stansted Airpor, London Stansted Airpor"

In [23]:
# new data, airports

df2.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                                                                            0.284623
@manairport                                                                                 0.227533
@dublinairport                                                                              0.176305
@gatwick_airport                                                                            0.146397
@stn_airport                                                                                0.132776
@heathrowairport, @heathrowairport                                                          0.005454
@dublinairport, @dublinairport                                                              0.004725
@manairport, @manairport                                                                    0.004620
@gatwick_airport, @gatwick_airport                                                          0.001899
@stn_airport, @stn_airport                                                                  0.001714
@heathrowairport, @gatwick_airport                                                          0.000704
@dublinairport, @lpl_airport                                                                0.000458
@gatwick_airport, @heathrowairport                                                          0.000451
@dublinairport, @shannonairport                                                             0.000332
@dublinairport, @corkairport                                                                0.000289
@heathrowairport, @dublinairport                                                            0.000224
@dublinairport, @heathrowairport                                                            0.000217
@heathrowairport, @manairport                                                               0.000202
@corkairport, @dublinairport                                                                0.000177
@belfastcity_air, @bhx_official, @edi_airport, @exeter_airport, @lbiairport, @manairport    0.000152
Name: Airport_Twitter_Tag, dtype: float64

In [24]:
# Filtering 5 airports and fields with duplicate names for one airport

newdf = df2[df2.Airport_Twitter_Tag.isin(["@heathrowairport", "@manairport", "@dublinairport", "@gatwick_airport", "@stn_airport", '@heathrowairport, @heathrowairport', '@dublinairport, @dublinairport', '@manairport, @manairport', '@gatwick_airport, @gatwick_airport', '@stn_airport, @stn_airport'])]

In [25]:
# 273 188 rows, 18 features

newdf.shape

(273188, 10)

In [26]:
newdf.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.288651
@manairport                           0.230753
@dublinairport                        0.178800
@gatwick_airport                      0.148469
@stn_airport                          0.134655
@heathrowairport, @heathrowairport    0.005531
@dublinairport, @dublinairport        0.004792
@manairport, @manairport              0.004685
@gatwick_airport, @gatwick_airport    0.001925
@stn_airport, @stn_airport            0.001739
Name: Airport_Twitter_Tag, dtype: float64

In [27]:
f = newdf.assign(Airport_Twitter_Tag=newdf.Airport_Twitter_Tag.str.replace('@heathrowairport, @heathrowairport', '@heathrowairport'))
f.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.294182
@manairport                           0.230753
@dublinairport                        0.178800
@gatwick_airport                      0.148469
@stn_airport                          0.134655
@dublinairport, @dublinairport        0.004792
@manairport, @manairport              0.004685
@gatwick_airport, @gatwick_airport    0.001925
@stn_airport, @stn_airport            0.001739
Name: Airport_Twitter_Tag, dtype: float64

In [28]:
f1 = f.assign(Airport_Twitter_Tag=f.Airport_Twitter_Tag.str.replace('@manairport, @manairport', '@manairport'))
f1.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.294182
@manairport                           0.235439
@dublinairport                        0.178800
@gatwick_airport                      0.148469
@stn_airport                          0.134655
@dublinairport, @dublinairport        0.004792
@gatwick_airport, @gatwick_airport    0.001925
@stn_airport, @stn_airport            0.001739
Name: Airport_Twitter_Tag, dtype: float64

In [29]:
f2 = f1.assign(Airport_Twitter_Tag=f1.Airport_Twitter_Tag.str.replace('@dublinairport, @dublinairport', '@dublinairport'))
f2.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.294182
@manairport                           0.235439
@dublinairport                        0.183592
@gatwick_airport                      0.148469
@stn_airport                          0.134655
@gatwick_airport, @gatwick_airport    0.001925
@stn_airport, @stn_airport            0.001739
Name: Airport_Twitter_Tag, dtype: float64

In [30]:
f3 = f2.assign(Airport_Twitter_Tag=f2.Airport_Twitter_Tag.str.replace('@gatwick_airport, @gatwick_airport', '@gatwick_airport'))
f3.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport              0.294182
@manairport                   0.235439
@dublinairport                0.183592
@gatwick_airport              0.150395
@stn_airport                  0.134655
@stn_airport, @stn_airport    0.001739
Name: Airport_Twitter_Tag, dtype: float64

In [31]:
f4 = f3.assign(Airport_Twitter_Tag=f3.Airport_Twitter_Tag.str.replace('@stn_airport, @stn_airport', '@stn_airport'))
f4.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport    0.294182
@manairport         0.235439
@dublinairport      0.183592
@gatwick_airport    0.150395
@stn_airport        0.136393
Name: Airport_Twitter_Tag, dtype: float64

In [32]:
# 273 188 rows, 18 features

f4.shape

(273188, 10)

## New preprocessed data

Selecting the data from airports below

heathrowairport 

manairport      

dublinairport     

gatwick_airport  

stn_airport

In [33]:
f4.to_csv('newdata.csv')