In [1]:
# NLP Talents Team Projects Preprocessing notebook 1

import numpy as np                  
import pandas as pd                 
import matplotlib.pyplot as plt     
%matplotlib inline
import seaborn as sns               
from bs4 import BeautifulSoup

In [2]:
# data in

data = pd.read_csv('5-Data After pre-processing (CSV Format).csv')
data.tail(10)

,Date,Screen Name,Full Name,Tweet Text,Tweet ID,App,Followers,Follows,Retweets,Favorites,Verfied,User Since,Location,Bio,Profile Image,Airport Twitter Tag,Airport IATA Codes,Airport Names
868342,3/24/2021 8:23:22,@20_cooler,20% cooler,@DFWAirport Awesome https://t.co/Yj1WAKyeK9,1.374555e+18,Twitter for Android,2.0,12.0,0.0,0.0,No,10/23/2018,"Surprise, AZ",NaN,View,@dfwairport,DFW,Dallas/Fort Worth International Airport
868343,3/24/2021 12:12:26,@esvcvdk1,Cor van der Kaaij,@Schiphol @SchipholWatch Tips omwonenden passe...,1.374613e+18,Twitter Web App,155.0,453.0,0.0,0.0,No,10/27/2014,Beetsterzwaag Friesland,Van #NLOntwikkeld.nl | Mensenmens | Meedenker ...,View,@schiphol,AMS,Amsterdam Airport Schiphol
868344,3/24/2021 13:56:49,@lou26chris,louisa hardy,@STN_Airport Good morning stansted airport ????,1.374639e+18,Twitter for iPhone,95.0,958.0,0.0,0.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
868345,3/24/2021 14:29:44,@Veloccerosso,Veloccerosso,@BrusselsAirport Any news on alleged SAA matter?,1.374647e+18,Twitter for Android,230.0,771.0,0.0,0.0,No,12/29/2010,NaN,Interests in airline services and travel facil...,View,@brusselsairport,BRU,Brussels Airport
868346,3/24/2021 15:03:10,@lou26chris,louisa hardy,@STN_Airport OMG ...... if only you knew how m...,1.374656e+18,Twitter for iPhone,95.0,958.0,0.0,1.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
868347,3/24/2021 15:06:29,@lou26chris,louisa hardy,@STN_Airport @KevinS22551757 Spain is in my bl...,1.374656e+18,Twitter for iPhone,95.0,958.0,0.0,1.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
868348,3/24/2021 15:47:16,@MarieJoseM1,Mariejose,@ParisAeroport Je voudrais savoir �galement la...,1.374667e+18,Twitter for Android,49.0,105.0,0.0,0.0,No,11/25/2011,Lebanon,Doctor of dental surgery Resident in Endodonti...,View,@parisaeroport,NaN,Paris Aeroport
868349,3/24/2021 15:52:14,@c10mannella,Chris Mannella,"@TorontoPearson @GovCanHealth Hey, is there ra...",1.374668e+18,Twitter for iPhone,1312.0,227.0,0.0,0.0,No,6/23/2010,"Ottawa, Ontario",??,View,@torontopearson,YYZ,Toronto Pearson Airport
868350,3/24/2021 15:59:14,@PeterButterfi12,Peter Butterfield,@STN_Airport Thanks @STN_Airport for your quic...,1.374670e+18,Twitter for iPhone,0.0,31.0,0.0,0.0,No,11/21/2020,NaN,NaN,View,"@stn_airport, @stn_airport","STN, STN","London Stansted Airpor, London Stansted Airpor"
868351,3/24/2021 16:23:34,@isamorandeau,Isabelle Morandeau,@ParisAeroport : bonjour. J'ai r�serv� et r�gl...,1.374676e+18,Twitter Web App,804.0,1026.0,0.0,0.0,No,8/14/2015,"Ile de France, Paris",#RelationClient #Marketing #Digital #R�tention...,View,@parisaeroport,NaN,Paris Aeroport

In [3]:
# 868352 rows, 18 columns)
data.shape

(868352, 18)

In [4]:
# 868 352 rows, 18 columns/features

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868352 entries, 0 to 868351
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 868352 non-null  object
 1   Screen Name          868352 non-null  object
 2   Full Name            868290 non-null  object
 3   Tweet Text           868352 non-null  object
 4   Tweet ID             868352 non-null  float64
 5   App                  868330 non-null  object
 6   Followers            868352 non-null  float64
 7   Follows              868352 non-null  float64
 8   Retweets             868352 non-null  float64
 9   Favorites            868352 non-null  float64
 10  Verfied              868352 non-null  object
 11  User Since           868352 non-null  object
 12  Location             601569 non-null  object
 13  Bio                  638733 non-null  object
 14  Profile Image        868352 non-null  object
 15  Airport Twitter Tag  856075 non-null  object
 16  Airport IATA Codes   805463 non-null  object
 17  Airport Names        856075 non-null  object
dtypes: float64(5), object(13)
memory usage: 119.3+ MB

In [5]:
# features

data.count()

Date                   868352
Screen Name            868352
Full Name              868290
Tweet Text             868352
Tweet ID               868352
App                    868330
Followers              868352
Follows                868352
Retweets               868352
Favorites              868352
Verfied                868352
User Since             868352
Location               601569
Bio                    638733
Profile Image          868352
Airport Twitter Tag    856075
Airport IATA Codes     805463
Airport Names          856075
dtype: int64

In [6]:
# columns

data.columns

Index(['Date', 'Screen Name', 'Full Name', 'Tweet Text', 'Tweet ID', 'App',
       'Followers', 'Follows', 'Retweets', 'Favorites', 'Verfied',
       'User Since', 'Location', 'Bio', 'Profile Image', 'Airport Twitter Tag',
       'Airport IATA Codes', 'Airport Names'],
      dtype='object')

In [7]:
# changing names of columns

data.columns = ['Date', 'Screen Name', 'Full Name', 'Tweet Text', 'Tweet ID', 'App',
       'Followers', 'Follows', 'Retweets', 'Favorites', 'Verfied',
       'User Since', 'Location', 'Bio', 'Profile Image', 'Airport_Twitter_Tag',
       'Airport_IATA_Codes', 'Airport_Names']

# Checking

data.columns

Index(['Date', 'Screen Name', 'Full Name', 'Tweet Text', 'Tweet ID', 'App',
       'Followers', 'Follows', 'Retweets', 'Favorites', 'Verfied',
       'User Since', 'Location', 'Bio', 'Profile Image', 'Airport_Twitter_Tag',
       'Airport_IATA_Codes', 'Airport_Names'],
      dtype='object')

In [8]:
# Handle the Null values

data.isnull().sum()

Date                        0
Screen Name                 0
Full Name                  62
Tweet Text                  0
Tweet ID                    0
App                        22
Followers                   0
Follows                     0
Retweets                    0
Favorites                   0
Verfied                     0
User Since                  0
Location               266783
Bio                    229619
Profile Image               0
Airport_Twitter_Tag     12277
Airport_IATA_Codes      62889
Airport_Names           12277
dtype: int64

In [9]:
# Handle the Null values
# Location 30%, bio 26% 

print('Percentage of missing values per feature')
round(data.isna().sum() * 100 / len(data), 2)

Percentage of missing values per feature

Date                    0.00
Screen Name             0.00
Full Name               0.01
Tweet Text              0.00
Tweet ID                0.00
App                     0.00
Followers               0.00
Follows                 0.00
Retweets                0.00
Favorites               0.00
Verfied                 0.00
User Since              0.00
Location               30.72
Bio                    26.44
Profile Image           0.00
Airport_Twitter_Tag     1.41
Airport_IATA_Codes      7.24
Airport_Names           1.41
dtype: float64

In [10]:
# locations top list

data.Location.value_counts(normalize=True).head(20)

London, England             0.022295
London                      0.019594
United Kingdom              0.011480
Ireland                     0.009537
UK                          0.009198
England, United Kingdom     0.009016
Dublin City, Ireland        0.006658
London, UK                  0.006318
Manchester, England         0.006089
Dublin                      0.005787
Manchester                  0.005208
United States               0.005191
Los Angeles, CA             0.004929
??????                      0.004217
Dublin, Ireland             0.004133
Edinburgh, Scotland         0.003519
Scotland, United Kingdom    0.003381
Atlanta, GA                 0.003375
Edinburgh                   0.003335
Berlin                      0.003147
Name: Location, dtype: float64

In [11]:
# Airport top list

data.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport    0.096562
@manairport         0.078233
@dublinairport      0.060415
@gatwick_airport    0.050226
@stn_airport        0.042971
@schiphol           0.030928
@centrairairport    0.030578
@contactap2         0.026200
@aena               0.022603
@yvrairport         0.022570
@edi_airport        0.021651
@dfwairport         0.019717
@atlairport         0.018285
@flylaxairport      0.017387
@aicm_mx            0.016173
@kkiasa             0.015249
@torontopearson     0.014125
@gla_airport        0.013008
@bog_eldorado       0.012759
@flytpa             0.012273
Name: Airport_Twitter_Tag, dtype: float64

In [12]:
# IATA code top list

data.Airport_IATA_Codes.value_counts(normalize=True).head(20)

LHR    0.102629
MAN    0.083148
DUB    0.064212
LGW    0.053382
STN    0.045671
AMS    0.032872
NGO    0.032499
HLP    0.027846
YVR    0.023989
EDI    0.023012
DFW    0.020956
ATL    0.019434
LAX    0.018480
MEX    0.017189
RUH    0.016207
YYZ    0.015012
GLA    0.013826
BOG    0.013561
TPA    0.013045
BHX    0.012788
Name: Airport_IATA_Codes, dtype: float64

In [13]:
# selecting data which contains airports below, please note that some tweets contain several airports
# new dataframe
# # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html#pandas.Series.str.contains

# @heathrowairport    0.096562
# @manairport         0.078233
# @dublinairport      0.060415
# @gatwick_airport    0.050226
# @stn_airport        0.042971

df2 = data[data['Airport_Twitter_Tag'].astype(str).str.contains('@heathrowairport|@manairport|@dublinairport|@gatwick_airport|@stn_airport', case=True, regex=True)]

In [14]:
# new dataframe

df2

,Date,Screen Name,Full Name,Tweet Text,Tweet ID,App,Followers,Follows,Retweets,Favorites,Verfied,User Since,Location,Bio,Profile Image,Airport_Twitter_Tag,Airport_IATA_Codes,Airport_Names
20,11/7/2016 18:35:14,@T1_Advocacy,T1Advocacy Ireland,@CorkAirport @DublinAirport @BelfastAirport ht...,7.956131e+17,Twitter Web Client,156.0,590.0,0.0,0.0,No,11/3/2015,NaN,NaN,View,"@corkairport, @dublinairport, @belfastairport","ORK, DUB, BFS","Cork Airport, Dublin Airport, Belfast Internat..."
22,11/7/2016 19:12:11,@LoveWeddingsNI,Love Weddings Studio,@belfastairport to @Gatwick_Airport with @Ryan...,7.956224e+17,Twitter for iPhone,754.0,701.0,0.0,0.0,No,11/2/2014,"Spires Mall, 45 Howard St. BT1",Visit us to plan your big day. Get inspired fr...,View,"@belfastairport, @gatwick_airport","BFS, LGW","Belfast International Airport, Gatwick Airport..."
610,11/16/2016 23:08:02,@Donnchad,Donncha,@CorkAirport @irishexaminer great to hear more...,7.989432e+17,Twitter for iPad,207.0,839.0,0.0,0.0,No,3/15/2009,Bantry/Cork/London,Work with WD40 and/or gaffer tape,View,"@corkairport, @heathrowairport","ORK, LHR","Cork Airport, Heathrow Airport"
1046,11/23/2016 0:00:45,@Muldoonwhiskey,Muldoon Liqueur,@CorkAirport @DublinAirport @TheLoopDutyFree K...,8.011308e+17,Twitter for iPhone,2542.0,1996.0,0.0,0.0,No,11/30/2013,NaN,"Irish whiskey liqueur,Waterford company,Irish ...",View,"@corkairport, @dublinairport","ORK, DUB","Cork Airport, Dublin Airport"
1308,11/27/2016 5:38:47,@Lyndacollins,Lynda,@CorkAirport @DublinAirport Passed over Little...,8.026654e+17,Twitter for iPad,123.0,148.0,0.0,0.0,No,4/14/2009,Ireland,"Swimming, Good Food/Wine, Walking the Dog, and...",View,"@corkairport, @dublinairport","ORK, DUB","Cork Airport, Dublin Airport"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868309,3/23/2021 21:21:43,@AirbusRed,AirbusRed,@STN_Airport Thank you ??,1.374388e+18,Twitter for iPhone,11378.0,1057.0,0.0,0.0,No,10/3/2009,"Manchester, England",?? Airbus A320 Captain. Takes pictures of avia...,View,@stn_airport,STN,London Stansted Airpor
868344,3/24/2021 13:56:49,@lou26chris,louisa hardy,@STN_Airport Good morning stansted airport ????,1.374639e+18,Twitter for iPhone,95.0,958.0,0.0,0.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
868346,3/24/2021 15:03:10,@lou26chris,louisa hardy,@STN_Airport OMG ...... if only you knew how m...,1.374656e+18,Twitter for iPhone,95.0,958.0,0.0,1.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
868347,3/24/2021 15:06:29,@lou26chris,louisa hardy,@STN_Airport @KevinS22551757 Spain is in my bl...,1.374656e+18,Twitter for iPhone,95.0,958.0,0.0,1.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
868350,3/24/2021 15:59:14,@PeterButterfi12,Peter Butterfield,@STN_Airport Thanks @STN_Airport for your quic...,1.374670e+18,Twitter for iPhone,0.0,31.0,0.0,0.0,No,11/21/2020,NaN,NaN,View,"@stn_airport, @stn_airport","STN, STN","London Stansted Airpor, London Stansted Airpor"

In [15]:
# new data, airports

df2.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                                                            0.284543
@manairport                                                                 0.230532
@dublinairport                                                              0.178029
@gatwick_airport                                                            0.148003
@stn_airport                                                                0.126623
@heathrowairport, @heathrowairport                                          0.005415
@dublinairport, @dublinairport                                              0.004761
@manairport, @manairport                                                    0.004664
@gatwick_airport, @gatwick_airport                                          0.001897
@stn_airport, @stn_airport                                                  0.001635
@heathrowairport, @gatwick_airport                                          0.000692
@gatwick_airport, @heathrowairport                                          0.000458
@dublinairport, @lpl_airport                                                0.000437
@dublinairport, @shannonairport                                             0.000317
@dublinairport, @corkairport                                                0.000293
@heathrowairport, @dublinairport                                            0.000227
@dublinairport, @heathrowairport                                            0.000210
@heathrowairport, @manairport                                               0.000207
@londoncityair, @edi_airport, @manairport, @dublinairport, @bhx_official    0.000186
@corkairport, @dublinairport                                                0.000169
Name: Airport_Twitter_Tag, dtype: float64

In [16]:
# https://www.listendata.com/2019/07/how-to-filter-pandas-dataframe.html
# Filtering 5 airports and fields with duplicate names for one airport

newdf = df2[df2.Airport_Twitter_Tag.isin(["@heathrowairport", "@manairport", "@dublinairport", "@gatwick_airport", "@stn_airport", '@heathrowairport, @heathrowairport', '@dublinairport, @dublinairport', '@manairport, @manairport', '@gatwick_airport, @gatwick_airport', '@stn_airport, @stn_airport'])]

In [17]:
# 286 477 rows, 18 features

newdf.shape

(286477, 18)

In [18]:
newdf.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.288554
@manairport                           0.233781
@dublinairport                        0.180538
@gatwick_airport                      0.150089
@stn_airport                          0.128408
@heathrowairport, @heathrowairport    0.005491
@dublinairport, @dublinairport        0.004828
@manairport, @manairport              0.004730
@gatwick_airport, @gatwick_airport    0.001923
@stn_airport, @stn_airport            0.001658
Name: Airport_Twitter_Tag, dtype: float64

In [19]:
f = newdf.assign(Airport_Twitter_Tag=newdf.Airport_Twitter_Tag.str.replace('@heathrowairport, @heathrowairport', '@heathrowairport'))
f.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.294045
@manairport                           0.233781
@dublinairport                        0.180538
@gatwick_airport                      0.150089
@stn_airport                          0.128408
@dublinairport, @dublinairport        0.004828
@manairport, @manairport              0.004730
@gatwick_airport, @gatwick_airport    0.001923
@stn_airport, @stn_airport            0.001658
Name: Airport_Twitter_Tag, dtype: float64

In [21]:
f1 = f.assign(Airport_Twitter_Tag=f.Airport_Twitter_Tag.str.replace('@manairport, @manairport', '@manairport'))
f1.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.294045
@manairport                           0.238511
@dublinairport                        0.180538
@gatwick_airport                      0.150089
@stn_airport                          0.128408
@dublinairport, @dublinairport        0.004828
@gatwick_airport, @gatwick_airport    0.001923
@stn_airport, @stn_airport            0.001658
Name: Airport_Twitter_Tag, dtype: float64

In [22]:
f2 = f1.assign(Airport_Twitter_Tag=f1.Airport_Twitter_Tag.str.replace('@dublinairport, @dublinairport', '@dublinairport'))
f2.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport                      0.294045
@manairport                           0.238511
@dublinairport                        0.185366
@gatwick_airport                      0.150089
@stn_airport                          0.128408
@gatwick_airport, @gatwick_airport    0.001923
@stn_airport, @stn_airport            0.001658
Name: Airport_Twitter_Tag, dtype: float64

In [23]:
f3 = f2.assign(Airport_Twitter_Tag=f2.Airport_Twitter_Tag.str.replace('@gatwick_airport, @gatwick_airport', '@gatwick_airport'))
f3.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport              0.294045
@manairport                   0.238511
@dublinairport                0.185366
@gatwick_airport              0.152012
@stn_airport                  0.128408
@stn_airport, @stn_airport    0.001658
Name: Airport_Twitter_Tag, dtype: float64

In [24]:
f4 = f3.assign(Airport_Twitter_Tag=f3.Airport_Twitter_Tag.str.replace('@stn_airport, @stn_airport', '@stn_airport'))
f4.Airport_Twitter_Tag.value_counts(normalize=True).head(20)

@heathrowairport    0.294045
@manairport         0.238511
@dublinairport      0.185366
@gatwick_airport    0.152012
@stn_airport        0.130066
Name: Airport_Twitter_Tag, dtype: float64

In [25]:
# 286 477 rows, 18 features

f.shape

(286477, 18)

In [26]:
f.to_csv('newdata.csv')